
html,
body {
	height: 100%;
	display: flex;
	flex: 1;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	flex-direction: column;
}

#simple-console-output,
#simple-console-input-wrapper {
	flex: 0;
	flex-basis: auto;
}
#simple-console-input-wrapper {
	display: flex;
	flex-shrink: 0;
}
#simple-console-input {
	flex: 1;
	font-size: inherit;
	color: inherit;
	background: transparent;
	border: 0;
	box-shadow: 0 1px 0 transparent;
}
#simple-console-input:focus {
	outline: 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#simple-console-output {
	overflow: auto;
}
#simple-console-input-wrapper,
.entry {
	padding: 0.25em 0.5em;
	padding-left: 1em; /* = A */
	position: relative;
}
#simple-console-input-wrapper > .octicon:first-child,
.entry.input > .octicon:first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1em; /* = A */
	display: flex;
	align-items: center;
	justify-content: center;
}
.entry.input {
	color: gray;
}
.error {
	color: #A00;
	background: #FFF5F5;
}

.dark {
	background: black;
	color: white;
}
.dark .error {
	color: #A00;
	background: rgba(255, 0, 0, 0.15);
}
.dark #simple-console-input:focus {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.dark ::-webkit-input-placeholder {
	color: #555;
}

.dark :-moz-placeholder { /* Firefox 18- */
	color: #555;
}

.dark ::-moz-placeholder { /* Firefox 19+ */
	color: #555;
}

.dark :-ms-input-placeholder {
	color: #555;
}
